In [1]:
import requests
import json
import pandas as pd
import numpy as np
from config import nyt_key
import matplotlib as plt
import sys
import gc
import plotly

import pandas as pd
from pathlib import Path

data_file = r"data/keywords_monthly.csv"

In [ ]:
months = ['3','4','5','6','7']
year = "2020"

#base_url = f"https://api.nytimes.com/svc/archive/v1/{year}/{current_month}.json?api-key={nyt_key}"
#print (base_url)

def cleanup ():
    publication_date = []
    keyword_1 = []
    keyword_2 = []
    keyword_3 = []
    keyword_count_1=0
    keyword_count_2=0
    keyword_count_3=0
    combine=[]
    #del [[df_1]
    gc.enable()
    print(gc.get_stats())
    return

In [ ]:
#response = requests.get(base_url)
#response

In [ ]:
resp = response.json()

In [2]:
def pull_data(month, year):
    print(month)
    base_url = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={nyt_key}"
    publication_date = []
    keyword_1 = []
    keyword_2 = []
    keyword_3 = []
    keyword_count_1=0
    keyword_count_2=0
    keyword_count_3=0
    combine=[]
    
    
    response = requests.get(base_url)
    #response
    resp = response.json()

    for i in resp["response"]["docs"]:
        if len(i["keywords"]) >= 3:
            publication_date.append(i["pub_date"])
            keyword_1.append(i["keywords"][0]["value"])
            keyword_2.append(i["keywords"][1]["value"])
            keyword_3.append(i["keywords"][2]["value"])
    
    data = {
        "publication_date":publication_date,
        "keyword_1":keyword_1,
        "keyword_2":keyword_2,
        "keyword_3":keyword_3,
            }

    df = pd.DataFrame(data)
            
#     keyword_count_1 = df.keyword_1.value_counts()[0:100]
#     keyword_count_2 = df.keyword_2.value_counts()[0:100]
#     keyword_count_3 = df.keyword_3.value_counts()[0:100]
#     combined = pd.concat([keyword_count_1,keyword_count_2,keyword_count_3],axis=1).fillna(0)
#     combined = combined["keyword_1"] + combined["keyword_2"] + combined["keyword_3"]
#     combined.sort_values(ascending=False)[0:50]
#     df['current_month'] = month
#     data = {
#         "month":month,
#         "combined":combined,
#             }
#     df = pd.DataFrame(data)   
#      #write each month and keyword to a new column
     
#      #df.to_csv (r'data_file.csv', index = True, header=True)
            
#     df.to_csv (r'data_file'+month+".csv", index = True, header=True)
#     cleanup() #clear memory objects
    
# display(df)

In [4]:
df_march = pull_data(3,2020)
df_march.head()
df_april = pull_data(4,2020)
df_april.head()
df_april = pull_data(5,2020)
df_april.head()
df_april = pull_data(6,2020)
df_april.head()
df_april = pull_data(7,2020)
df_april.head()

3

,publication_date,keyword_1,keyword_2,keyword_3
0,2020-03-01T07:22:34+0000,Television,Saturday Night Live (TV Program),"Mulaney, John"
1,2020-03-01T11:51:43+0000,Presidential Election of 2020,Primaries and Caucuses,Democratic Party
2,2020-03-02T08:00:09+0000,Baseball,Los Angeles Dodgers,Houston Astros
3,2020-03-02T08:00:11+0000,Snow and Snowstorms,New York City,Global Warming
4,2020-03-01T21:12:51+0000,Coronavirus (2019-nCoV),Presidential Election of 2020,United States Economy

4

,publication_date,keyword_1,keyword_2,keyword_3
0,2020-04-01T10:56:16+0000,Coronavirus (2019-nCoV),Delivery Services,AMAZON.COM INC
1,2020-04-02T13:00:21+0000,"Riverdale (Bronx, NY)","Upper West Side (Manhattan, NY)","Sunset Park (Brooklyn, NY)"
2,2020-04-02T07:00:08+0000,Pensions and Retirement Plans,Taxation,Local Government
3,2020-04-01T09:00:26+0000,Education (K-12),Real Estate (Commercial),Nonprofit Organizations
4,2020-04-02T17:27:56+0000,Coronavirus (2019-nCoV),"Djokovic, Novak","Nadal, Rafael"

In [8]:
pd.concat(['df_march','df_april'],axis=1)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [ ]:
#fig = px.scatter(df, x=publication_date, y=keyword_1,hover_data=[df.index])
#fig.show()