In [34]:
import requests
import json
import pandas as pd
import numpy as np
from config import nyt_key
import matplotlib as plt
import sys
import gc
import plotly

import pandas as pd
from pathlib import Path

data_file = r"data/keywords_monthly.csv"

In [35]:
months = ['3','4','5','6','7']
year = "2020"

#base_url = f"https://api.nytimes.com/svc/archive/v1/{year}/{current_month}.json?api-key={nyt_key}"
#print (base_url)

def cleanup ():
    publication_date = []
    keyword_1 = []
    keyword_2 = []
    keyword_3 = []
    keyword_count_1=0
    keyword_count_2=0
    keyword_count_3=0
    combine=[]
    #del [[df_1]
    gc.enable()
    #print(gc.get_stats())
    return

In [36]:
#response = requests.get(base_url)
#response

In [37]:
resp = response.json()

In [44]:
for month in months:    
    print(month)
    base_url = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={nyt_key}"
    publication_date = []
    keyword_1 = []
    keyword_2 = []
    keyword_3 = []
    keyword_count_1=0
    keyword_count_2=0
    keyword_count_3=0
    combined=[]
    
        
    response = requests.get(base_url)
    #response
    resp = response.json()

    for i in resp["response"]["docs"]:
        if len(i["keywords"]) >= 3:
            publication_date.append(i["pub_date"])
            keyword_1.append(i["keywords"][0]["value"])
            keyword_2.append(i["keywords"][1]["value"])
            keyword_3.append(i["keywords"][2]["value"])
            keyword_count_1 = df.keyword_1.value_counts()[0:100]
            keyword_count_2 = df.keyword_2.value_counts()[0:100]
            keyword_count_3 = df.keyword_3.value_counts()[0:100]
            combined = pd.concat([keyword_count_1,keyword_count_2,keyword_count_3],axis=1).fillna(0)
            combined = combined["keyword_1"] + combined["keyword_2"] + combined["keyword_3"]
    #data = {
   #     "publication_date":publication_date,
    #    "keyword_1":keyword_1,
    #    "keyword_2":keyword_2,
    #    "keyword_3":keyword_3,
    #        }
  
    #df = pd.DataFrame(data)
                
            
    
    combined.sort_values(ascending=False)[0:50]
    
    data2 = {
        "month":month,
        "combined":combined,
            }
    
    df1 = pd.DataFrame(data2)
    combined_df = pd.DataFrame() 
    combined_df = df.append(df1)
    
     #write each month and keyword to a new column
     #df.to_csv (r'data_file.csv', index = True, header=True)  
    df.to_csv (r'data_file'+month+".csv", index = True, header=True)
    cleanup() #clear memory objects
    
    display(combined_df)

3

pandas.core.series.Series

,publication_date,keyword_1,keyword_2,keyword_3,month,combined
0,2020-03-01T07:22:34+0000,Television,Saturday Night Live (TV Program),"Mulaney, John",NaN,NaN
1,2020-03-01T11:51:43+0000,Presidential Election of 2020,Primaries and Caucuses,Democratic Party,NaN,NaN
2,2020-03-02T08:00:09+0000,Baseball,Los Angeles Dodgers,Houston Astros,NaN,NaN
3,2020-03-02T08:00:11+0000,Snow and Snowstorms,New York City,Global Warming,NaN,NaN
4,2020-03-01T21:12:51+0000,Coronavirus (2019-nCoV),Presidential Election of 2020,United States Economy,NaN,NaN
...,...,...,...,...,...,...
"Asylum, Right of",NaN,NaN,NaN,NaN,3,10.0
Patient Protection and Affordable Care Act (2010),NaN,NaN,NaN,NaN,3,10.0
AIRPORTS,NaN,NaN,NaN,NaN,3,10.0
House of Representatives,NaN,NaN,NaN,NaN,3,10.0
Psychology and Psychologists,NaN,NaN,NaN,NaN,3,9.0

4

pandas.core.series.Series

,publication_date,keyword_1,keyword_2,keyword_3,month,combined
0,2020-04-01T10:56:16+0000,Coronavirus (2019-nCoV),Delivery Services,AMAZON.COM INC,NaN,NaN
1,2020-04-02T13:00:21+0000,"Riverdale (Bronx, NY)","Upper West Side (Manhattan, NY)","Sunset Park (Brooklyn, NY)",NaN,NaN
2,2020-04-02T07:00:08+0000,Pensions and Retirement Plans,Taxation,Local Government,NaN,NaN
3,2020-04-01T09:00:26+0000,Education (K-12),Real Estate (Commercial),Nonprofit Organizations,NaN,NaN
4,2020-04-02T17:27:56+0000,Coronavirus (2019-nCoV),"Djokovic, Novak","Nadal, Rafael",NaN,NaN
...,...,...,...,...,...,...
AMAZON.COM INC,NaN,NaN,NaN,NaN,4,11.0
Disabilities,NaN,NaN,NaN,NaN,4,10.0
Philippines,NaN,NaN,NaN,NaN,4,10.0
Careers and Professions,NaN,NaN,NaN,NaN,4,10.0
your-feed-selfcare,NaN,NaN,NaN,NaN,4,10.0

5

pandas.core.series.Series

,publication_date,keyword_1,keyword_2,keyword_3,month,combined
0,2020-05-03T13:10:38+0000,Coronavirus (2019-nCoV),New York State,New York City,NaN,NaN
1,2020-05-01T19:30:09+0000,Philosophy,Children and Childhood,Parenting,NaN,NaN
2,2020-05-01T05:00:06+0000,Tennis,Universal Tennis LLC,"Sandgren, Tennys",NaN,NaN
3,2020-05-01T18:24:58+0000,Delivery Services,Restaurants,United States,NaN,NaN
4,2020-05-02T16:00:07+0000,Birthdays,Parties (Social),Videophones and Videoconferencing,NaN,NaN
...,...,...,...,...,...,...
Income Inequality,NaN,NaN,NaN,NaN,5,9.0
Elderly,NaN,NaN,NaN,NaN,5,9.0
Alternative and Renewable Energy,NaN,NaN,NaN,NaN,5,9.0
Australia,NaN,NaN,NaN,NaN,5,9.0
Agriculture and Farming,NaN,NaN,NaN,NaN,5,9.0

6

pandas.core.series.Series

,publication_date,keyword_1,keyword_2,keyword_3,month,combined
0,2020-06-01T22:02:17+0000,George Floyd Protests (2020),Black People,"Police Department (Minneapolis, Minn)",NaN,NaN
1,2020-06-02T09:59:40+0000,George Floyd Protests (2020),Black Lives Matter Movement,Black People,NaN,NaN
2,2020-06-02T15:15:54+0000,George Floyd Protests (2020),United States Defense and Military Forces,Defense Department,NaN,NaN
3,2020-06-01T09:00:13+0000,Colleges and Universities,Coronavirus (2019-nCoV),Coronavirus Reopenings,NaN,NaN
4,2020-06-03T18:58:35+0000,George Floyd Protests (2020),"Demonstrations, Protests and Riots",Libraries and Librarians,NaN,NaN
...,...,...,...,...,...,...
Hydroxychloroquine (Drug),NaN,NaN,NaN,NaN,6,9.0
Banking and Financial Institutions,NaN,NaN,NaN,NaN,6,9.0
Agriculture and Farming,NaN,NaN,NaN,NaN,6,9.0
"Johnson, Boris",NaN,NaN,NaN,NaN,6,9.0
German Bundesliga,NaN,NaN,NaN,NaN,6,9.0

7

pandas.core.series.Series

,publication_date,keyword_1,keyword_2,keyword_3,month,combined
0,2020-07-01T23:16:05+0000,Russia,Taliban,"Azizi, Rahmatullah",NaN,NaN
1,2020-07-01T14:06:12+0000,George Floyd Protests (2020),Black Lives Matter Movement,Seattle (Wash),NaN,NaN
2,2020-07-01T21:21:16+0000,Coronavirus (2019-nCoV),Saudi Arabia,United States International Relations,NaN,NaN
3,2020-07-03T02:13:01+0000,Newspapers,News and News Media,Tribune Publishing Company,NaN,NaN
4,2020-07-01T15:39:53+0000,"Hollingsworth, Adam",Horses,Black People,NaN,NaN
...,...,...,...,...,...,...
Shortages,NaN,NaN,NaN,NaN,7,8.0
Homeland Security Department,NaN,NaN,NaN,NaN,7,8.0
"Lewis, John R",NaN,NaN,NaN,NaN,7,8.0
Food,NaN,NaN,NaN,NaN,7,8.0
South Korea,NaN,NaN,NaN,NaN,7,8.0

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [ ]:
#fig = px.scatter(df, x=publication_date, y=keyword_1,hover_data=[df.index])
#fig.show()