In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Output/DFs/keywords_raw.csv")
df.head()

                              Unnamed: 0     2020    2016    2012    2008
0                Coronavirus (2019-nCoV)  13860.0     NaN     NaN     NaN
1  United States Politics and Government   4050.0  1079.0  1452.0  1270.0
2                        Trump, Donald J   3788.0  3050.0    26.0     8.0
3          Presidential Election of 2020   3072.0     3.0     NaN     NaN
4                            Quarantines   2936.0     2.0     NaN     NaN

In [3]:
df_replace = df.fillna(0)
df_replace.head()

                              Unnamed: 0     2020    2016    2012    2008
0                Coronavirus (2019-nCoV)  13860.0     0.0     0.0     0.0
1  United States Politics and Government   4050.0  1079.0  1452.0  1270.0
2                        Trump, Donald J   3788.0  3050.0    26.0     8.0
3          Presidential Election of 2020   3072.0     3.0     0.0     0.0
4                            Quarantines   2936.0     2.0     0.0     0.0

In [5]:
# df_replace.loc[row(s), column(s)]
# df_replace.loc[:, [2016, 2012, 2008]]
# df_replace[[2016, 2012, 2008]]
df_replace['change']=df_replace[['2016', '2012', '2008']].mean(axis=1)
df_replace.head()

,Unnamed: 0,2020,2016,2012,2008,change
0,Coronavirus (2019-nCoV),13860.0,0.0,0.0,0.0,0.000000
1,United States Politics and Government,4050.0,1079.0,1452.0,1270.0,1267.000000
2,"Trump, Donald J",3788.0,3050.0,26.0,8.0,1028.000000
3,Presidential Election of 2020,3072.0,3.0,0.0,0.0,1.000000
4,Quarantines,2936.0,2.0,0.0,0.0,0.666667

In [15]:
df_top_new=df_replace.loc[df_replace['2008']>0]
df_top_new.sort_values('2020', ascending=False).head(20)

,Unnamed: 0,2020,2016,2012,2008,change
1,United States Politics and Government,4050.0,1079.0,1452.0,1270.0,1267.000000
2,"Trump, Donald J",3788.0,3050.0,26.0,8.0,1028.000000
5,Primaries and Caucuses,1658.0,633.0,426.0,119.0,392.666667
6,United States,1580.0,660.0,1061.0,397.0,706.000000
7,Black People,1565.0,657.0,241.0,288.0,395.333333
9,New York City,1512.0,1646.0,2222.0,1061.0,1643.000000
10,Politics and Government,1504.0,122.0,1267.0,1365.0,918.000000
11,Books and Literature,1471.0,1793.0,2085.0,1799.0,1892.333333
13,Epidemics,1316.0,30.0,29.0,13.0,24.000000
15,Elections,1270.0,200.0,981.0,512.0,564.333333
16,Shutdowns (Institutional),1265.0,49.0,51.0,34.0,44.666667
17,United States Economy,1257.0,309.0,884.0,863.0,685.333333
18,Movies,1136.0,1570.0,1434.0,3.0,1002.333333
19,"Biden, Joseph R Jr",1128.0,33.0,61.0,9.0,34.333333
20,Deaths (Obituaries),1111.0,749.0,726.0,729.0,734.666667
21,Television,1110.0,1446.0,1178.0,935.0,1186.333333
22,Parenting,1096.0,179.0,529.0,2.0,236.666667
23,Democratic Party,1006.0,770.0,341.0,631.0,580.666667
24,Discrimination,960.0,590.0,277.0,168.0,345.000000
25,Real Estate and Housing (Residential),946.0,989.0,1067.0,8.0,688.000000

In [ ]:
#df_replace[['2016', '2012', '2008']].mean(axis=0)

In [7]:
df_r = df_replace.loc[df_replace["change"]>0]

In [9]:
df_r['calc']=df_r["2020"]/df_r["change"]
df_r.head()

/Users/loganbon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,2020,2016,2012,2008,change,calc
1,United States Politics and Government,4050.0,1079.0,1452.0,1270.0,1267.000000,3.196527
2,"Trump, Donald J",3788.0,3050.0,26.0,8.0,1028.000000,3.684825
3,Presidential Election of 2020,3072.0,3.0,0.0,0.0,1.000000,3072.000000
4,Quarantines,2936.0,2.0,0.0,0.0,0.666667,4404.000000
5,Primaries and Caucuses,1658.0,633.0,426.0,119.0,392.666667,4.222411

In [12]:
# df_replace['calc'] = df_replace.loc[(df_replace["2020"]/df_replace["change"])<.99]
df_r.sort_values('calc', ascending=False).head(50)

,Unnamed: 0,2020,2016,2012,2008,change,calc
4,Quarantines,2936.0,2.0,0.0,0.0,0.666667,4404.000000
3,Presidential Election of 2020,3072.0,3.0,0.0,0.0,1.000000,3072.000000
44,Masks,610.0,5.0,0.0,0.0,1.666667,366.000000
211,Telecommuting,146.0,1.0,1.0,0.0,0.666667,219.000000
435,Late Night with Seth Meyers (TV Program),69.0,1.0,0.0,0.0,0.333333,207.000000
479,"Klobuchar, Amy",60.0,0.0,0.0,1.0,0.333333,180.000000
52,Protective Clothing and Gear,486.0,10.0,0.0,0.0,3.333333,145.800000
368,"Flynn, Michael T",83.0,2.0,0.0,0.0,0.666667,124.500000
160,"Fauci, Anthony S",185.0,3.0,1.0,1.0,1.666667,111.000000
836,"Garcetti, Eric M",32.0,1.0,0.0,0.0,0.333333,96.000000
861,"Kavanaugh, Brett M",32.0,0.0,0.0,1.0,0.333333,96.000000
457,Antibodies,64.0,0.0,2.0,0.0,0.666667,96.000000
882,Trump Tax Returns,31.0,1.0,0.0,0.0,0.333333,93.000000
491,"Bolton, John R",59.0,0.0,1.0,1.0,0.666667,88.500000
507,Looting (Crime),58.0,2.0,0.0,0.0,0.666667,87.000000
500,The Tonight Show (TV Program),58.0,2.0,0.0,0.0,0.666667,87.000000
371,"Powell, Jerome H",82.0,0.0,3.0,0.0,1.000000,82.000000
608,"Buttigieg, Pete (1982- )",48.0,2.0,0.0,0.0,0.666667,72.000000
665,National Health Service,44.0,2.0,0.0,0.0,0.666667,66.000000
1159,Major League Baseball Players Assn,22.0,1.0,0.0,0.0,0.333333,66.000000
1199,Northwell Health,21.0,1.0,0.0,0.0,0.333333,63.000000
1225,Imperial College London,20.0,1.0,0.0,0.0,0.333333,60.000000
124,Hygiene and Cleanliness,233.0,11.0,1.0,0.0,4.000000,58.250000
1327,"Lamont, Ned",19.0,0.0,0.0,1.0,0.333333,57.000000
13,Epidemics,1316.0,30.0,29.0,13.0,24.000000,54.833333
1349,"Trump, Fred C",18.0,1.0,0.0,0.0,0.333333,54.000000
418,"Bolsonaro, Jair (1955- )",71.0,4.0,0.0,0.0,1.333333,53.250000
248,"Mnuchin, Steven T",124.0,7.0,0.0,0.0,2.333333,53.142857
784,"Milley, Mark A",35.0,2.0,0.0,0.0,0.666667,52.500000
567,Government Contracts and Procurement,51.0,3.0,0.0,0.0,1.000000,51.000000
1459,Conan (TV Program),17.0,1.0,0.0,0.0,0.333333,51.000000
302,"Noah, Trevor (1984- )",102.0,6.0,0.0,0.0,2.000000,51.000000
1502,"Duda, Andrzej (1972- )",16.0,1.0,0.0,0.0,0.333333,48.000000
66,Workplace Hazards and Violations,382.0,23.0,2.0,0.0,8.333333,45.840000
340,Olympic Games (2020),91.0,6.0,0.0,0.0,2.000000,45.500000
903,Plague,30.0,0.0,0.0,2.0,0.666667,45.000000
478,"Mueller, Robert S III",60.0,0.0,2.0,2.0,1.333333,45.000000
1566,Bergamo (Italy),15.0,1.0,0.0,0.0,0.333333,45.000000
637,"Gantz, Benny",45.0,0.0,3.0,0.0,1.000000,45.000000
309,Stockpiling,100.0,0.0,2.0,5.0,2.333333,42.857143
1654,Voice of America,14.0,1.0,0.0,0.0,0.333333,42.000000
1663,"Perdue, Sonny",14.0,0.0,0.0,1.0,0.333333,42.000000
554,SARS (Severe Acute Respiratory Syndrome),53.0,4.0,0.0,0.0,1.333333,39.750000
193,Travel Warnings,156.0,12.0,0.0,0.0,4.000000,39.000000
1779,United Food and Commercial Workers Union,13.0,0.0,1.0,0.0,0.333333,39.000000
1742,"Life-Sustaining Support Systems, Withdrawal Of",13.0,1.0,0.0,0.0,0.333333,39.000000
156,Videophones and Videoconferencing,188.0,11.0,3.0,1.0,5.000000,37.600000
1907,Little Richard,12.0,0.0,1.0,0.0,0.333333,36.000000
1861,Christmas,12.0,1.0,0.0,0.0,0.333333,36.000000
1923,Mississippi State University,12.0,0.0,1.0,0.0,0.333333,36.000000

In [ ]:
new['calc']=0
for index, rows in new.iterrows():
    new.loc[index, "calc"] = new["2020"]/new["change"]

In [9]:
new['calc']=new["2020"]/new["change"]

NameError: name 'new' is not defined

In [ ]:
df_replace['change']=df_replace[['2016', '2012', '2008']].mean(axis=1)

In [ ]:
new.head(50)

In [ ]:
new = new.sort_values('calc', ascending=False)
new.head(50)

In [16]:
pd.read_csv("Output/DFs/tokens_raw.csv")

          Unnamed: 0     2020     2016     2012     2008
0        coronavirus  14456.0      NaN      NaN      NaN
1                new  10989.0  17045.0  24894.0  27846.0
2           pandemic   6454.0      7.0     11.0      7.0
3              trump   6062.0   6727.0     92.0    132.0
4                one   5691.0   6631.0  10153.0  14286.0
...              ...      ...      ...      ...      ...
3435613      kickier      NaN      NaN      NaN      1.0
3435614       rattan      NaN      NaN      NaN      1.0
3435615     ketchupy      NaN      NaN      NaN      1.0
3435616     chitarra      NaN      NaN      NaN      1.0
3435617     fleecing      NaN      NaN      NaN      1.0

[3435618 rows x 5 columns]

In [19]:
import os
os.listdir('../..')

['.DS_Store',
 'Python',
 'Python-APIs',
 'Excel',
 'VBA-Scripting',
 '07-Project-1 copy',
 'Matplotlib',
 'Project Repos',
 'Pandas']

In [ ]:
# 1 Percentage of Corona/BLM has dominated everything else
#   
# 2 How "central" topics have trended
# 3 How "ancillary' topics have trended

In [ ]:
pd.read_csv('')